#landing-page {
    background-image: url(assets/h_img.jpg);
    background-repeat: no-repeat;
    
}
h1.first {
    font-size: x-large;
    color: antiquewhite;
    position: relative;
    padding-left: 300px;
    padding-top: 5px;

}
h1.second {
    font-size: x-large;
    color: antiquewhite;
    position: relative;
    padding-left: 245px;
    padding-top: 1px;
}
h2 {
    font-size: large;
    color: antiquewhite;
    position: relative;
    padding-top: 2px;
}

.logo {
    padding-left: 560px;
    padding-top: 150px;
}

.container {
    padding: 100px;
    padding-left: 180px;
}
.mouseclick {
    padding-left: 590px;
    padding-bottom: 40px;
}